_drafts/
_site/

/assets/jubilee-3D-printer/ignore/*
/assets/fanuc_retrofit/external_sources/ignore/*
/assets/fanuc_retrofit/external_sources/fanuc robot arm/*

_posts/2023-02-21-bias_variance_aleatoric_epistemic.markdown
_posts/2024-11-30-engineering-manufacturing.markdown
_posts/2024-12-25-TRAM.markdown
_posts/2026-02-25-creating-a-company.markdown
_posts/2026-01-04-energy-and-knowledge.markdown
_posts/2026-02-01-adversarial_attacks_a_ticking_time_bomb.markdown

readregister.py
writeregister.py